@import 'bootstrap';
@import 'bootstrap-icons';
@import '/node_modules/flag-icons/css/flag-icons.min.css';

.category-card {
    background-color: #01212d;
    border-radius: 15px;
    color: #ffffff;  
    font-size: 4rem;
}
.category-card > a{
    color: #ffffff !important;
    font-size: 1.2rem;
}
.category-card:hover{
    color: #FF8400;
    width: 300px;
    
    transition: 0.5s;

}
.category-card:hover a{
    color: #FF8400 !important;
}

.pressto {
    font-family: Rainy Stars PERSONAL USE;
}
