@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

 @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
body {
    display: flex;
    justify-content: center;
    background-color: #d6fbfbd8;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    margin-top: 10vh;
    border-radius: 1em;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
}

.split-background {
    background-color: #01212d;
    background-image: -webkit-linear-gradient(-40deg, #01212d 50%, #00292d 50%);
}

.title {
    font-family: 'Orbitron', sans-serif;
    font-weight: 100;
    color: white;
    margin-top: 4vh;
    margin-bottom: 1vh;
    font-size: x-large;
}

.field {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: rgba(256, 256, 256, 0.4);
    border-style: hidden;
    height: 2em;
    padding: 1em;
    width: 14em;
    border-radius: 15dvh;
    position: relative;
    padding-left: 2em;
    
}

.login-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    width: 90%;
}

.logo {
    width: 70%;
}

button {
    width: 14em;
    height: 3em;
    border-radius: 15dvh;
    border-style: hidden;
    margin-top: 1em;
    background-color: rgba(256, 256, 256, 0.4);

}

.bi-envelope-at, .bi-key, .bi-person, .bi-person-add, .bi-asterisk, .bi-eye, .bi-eye-slash-fill {
    position: absolute;
    z-index: 1;
    padding: 0.5rem;
    font-size: 1.2em;
}

.main-div-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

::placeholder {
    color:white;
    opacity: 0.7;
}

.stocazzo {
    height: 40rem;
    margin-top: 2rem;
    background-color: #01212d;
    background-image: -webkit-linear-gradient(45deg, #01212d 50%, #00292d 50%);
}

.div-icon-social {
    display: flex;
    justify-content: space-around;
    width: 14em;
    height: 1.5em;
    color: white;
    
}

.err-text {
    color: white;
    font-size: 0.8em;
}

.bi-google:hover{
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.bi-facebook:hover{
  color: #3b5998;
  background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
  background-size: 55%;
  background-position:20px;
  background-repeat: no-repeat;
    
}

.button:hover {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
            background-color: #00292d;
            color:#ffffff;
            border-color:1px solid #ffffff !important;
}



.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s ;
	        animation: shake-horizontal 0.8s ;
}
@-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }