@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

.btnn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00292d;
    margin-bottom: 0px;
    height: 2em;
    border-bottom-left-radius: 1dvh;
    border-bottom-right-radius: 1dvh;
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100% !important;
}

.card-body {
        padding-left: 1rem;
        padding-right: 1rem;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: scroll;
    
      
}

.cat-name{
    text-align: center;
    margin: 0 !important;
    font-size: 1em !important;
}
.ul-cat{
    padding: 0 !important;
}


.card-text, .card-title {
    
    text-align: center;
    margin: 0;
}

.card-link {
    text-decoration: none;
    color: white;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.1em;
}

.card {
    border-radius: 1dvh;
    width: 15rem;

}

.cat-icon {
    height: 170px;
    align-items: center;
    background-color: #00292d;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.cat-link {
    color: white;
    text-decoration: none;
}

.btnn:hover{
    color: #ff8400;
}