.logo-footer {
    width: 50%;
    margin: auto;
}

.p-footer {
    color: white;
    margin-right: 1em;
}

.footer {
    background-color: #01212d;
    height: 2.5em;
    
    
}

@media only screen and (max-width: 860px) {
   .logo-footer{
    display: none;
   }
  }