.headerz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.scritte-logo{
    position: absolute;
    font-size: 70px;
    color: #FC8505;
    background-color: transparent;
  }
  .compra{
  /* -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both 1s both;  */
  
  -webkit-animation: tracking-out-contract-bck 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.3s both;
          animation: tracking-out-contract-bck 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.3s both;
  }
  .vendi{
  /* -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 4s both 2s both; */
  -webkit-animation: tracking-out-contract-bck 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2.3s both;
          animation: tracking-out-contract-bck 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2.3s both;  
  }
  .presto{
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3s both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 7s both 3s both;  
  /* -webkit-animation: tracking-out-contract-bck 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3s both;
          animation: tracking-out-contract-bck 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3s both; */
  }
.ins-prod-btn{
  border: 2px solid #FC8505;
  margin-left: 5px;
  margin-bottom: 6px;
}
.ins-prod-btn:hover{
  background-color: #FC8505;
}
.ins-prod-btn > a{
  color:#ffffff;
  text-transform:uppercase;
}
.ins-prod-btn > a:hover{
  color:#01212d;
}
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes tracking-out-contract-bck {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-500px);
              transform: translateZ(-500px);
      opacity: 0;
    }
  }
  @keyframes tracking-out-contract-bck {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-500px);
              transform: translateZ(-500px);
      opacity: 0;
    }
  }

.dropdown-menu {
    --bs-dropdown-min-width: 0;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0;
}
.userbtn {
  background-color: #01212d;
  color: #ffffff;
}
.lang-btn {
  background-color: #01212d;
}
.nav-logo{
  margin-top: 3px;
}
.userbtn:hover {
  color: #FC8505;
  background-color: #01212d;
}
.btn-secondary {
    --bs-btn-bg: #01212d;
}

.btn-secondary:hover {
    background-color: #FC8505 !important;
}

i {
    margin: auto ;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes tracking-out-contract-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-500px);
            transform: translateZ(-500px);
    opacity: 0;
  }
}
@keyframes tracking-out-contract-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-500px);
            transform: translateZ(-500px);
    opacity: 0;
  }
}

.header-logo{
  margin-top: 100px;
}
.scritte-logo{
  position: absolute;
  z-index: 0;
  margin: 50px;
}
.logo{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #01212d;
  height: 400px;
}
.scritte-logo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav {
  height: 50px;
  background-color: #01212d;
  position: relative;
  z-index: 1;
}


.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #ffffff;
  
  
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  overflow: hidden !important;
  /* border-bottom: 1px solid #FC8505;
  border-right: 1px solid #FC8505;
  border-left: 1px solid #FC8505; */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #ffffff;
  justify-content: space-around;
}


.nav > .nav-links > a:hover {
  color: #FC8505;
}

.nav > #nav-check {
  display: none;
}


@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #FC8505;
  }
  .nav > .nav-btn > label > span:hover,.nav  #nav-check:checked ~ .nav-btn > label > span {
      border-top: 2px solid #01212d;
    }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #FC8505;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: transparent;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }


  .nav > .nav-links > a {
    display: block;
    width: 100%;
    
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(70vh - 50px);
    overflow-y: auto;
  }
}
