


.navbar {
    background-color: #01212d;
    margin: 0 10px 0 10px;
    border-radius: 0 0 15px 15px;
}

.navbar li
{
    color: #ffffff;
}

.wwu-button{
    border-color: #ffffff;
    color: #ffffff;
}
.wwu-button:hover{
    
  outline: #ff8400 solid 0.5px !important;
  
}

.navbar-toggler{
    color: #ffffff;
    border: 0 !important;
}

.navbar-toggler:hover{
    background-color: #ffffff6d !important;
    color: #01212d !important;
    
}

li, a{
    display:inline !important;
    text-align: end !important;
}
li, a:hover{
    
    color: #ff8400 !important;
}

.submit{
    background-color: #01212d;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 55px;
    border-radius: 0 0 5px 5px;
}



form{
   display: hidden !important;
}

.logout-button:hover{
    background-color: #01212d;
    color: #ff8400;
    border-color: #ff8400;
}





.btn-outline-success {
    color: #FC8505 !important;
    border-color: #FC8505 !important;
}

.btn-outline-success:hover {
    background-color: #ffd5a8 !important;
}

.bi-search:hover {
    color:#FC8505 !important;
}



  .logout-field{
   padding: 0;
  }