.container{
    padding: 10px;
    width: 600px;
    border: 1px solid #01212d;
    border-radius: 25px;
  }
  
  .user-image{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #FC8505;
    color: #01212d;
  }