.buttone {
  width: 14em;
  height: 3em;
  border-radius: 15dvh;
  border-style: hidden;
  margin-top: 1em;
  background-color: rgba(256, 256, 256, 0.4);
  color:white;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  background-color: #01212d;
}

.left-column {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttone:hover, .buttone:focus {
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
   animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
   background-color: #00292d;
   color:#ffffff;
   outline: #ff8400 solid 0.5px !important;;
   
}


@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 #FC8505;
            box-shadow: 0 0 0 0 #FC8505;
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 #FC8505;
            box-shadow: 0 0 0 0 #FC8505;
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px #FC8505;
            box-shadow: 0 0 20px 0px #FC8505;
  }
}

